<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="edu.spring.ex04.MemberMapper">
  
	<select id="login" resultType="MemberVO">
	select * from ${test_member} where ${col_userid}=#{userid} and ${col_userpw}=#{userpw} and ${col_active}='Y'
	</select>
  </mapper>