@CHARSET "UTF-8";
body,div,dl,dt,dd,ul,ol,menu,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,figure,legend,textarea,p,blockquote,th,td,input,optgroup,select,textarea,button {margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display:block;}
fieldset,img {border:0;}
dl,ul,ol,menu,li {list-style:none;}
img,input,select,textarea,button {vertical-align:middle;}
hr, caption, legend {display:none;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
table {border-collapse:collapse;border-spacing:0;}
th {text-align:left;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:normal;}
abbr,acronym {border:0;}
blockquote, q {quotes:none}
blockquote:before,blockquote:after,q:before,q:after {content:'';content:none}
strong {font-weight:bold;}
button {cursor:pointer;border:0;background-color:transparent;}

/* Scaffolding */
body,h1,h2,h3,h4,th,td,input,select,button {font-weight:normal;font-size:12px;font-family:'돋움',dotum,sans-serif;line-height:1.5;color:#666;}
a, a:active, a:visited {color:#666;text-decoration:none;cursor:pointer;}
a:hover {color:#666;text-decoration:none;}

/* 정렬 */
.clearfix {*zoom:1;}
.clearfix:before, .clearfix:after {display:table;content:'';}
.clearfix:after {clear:both;}
.pull-right {float:right !important;}
.pull-left {float:left !important;}
.center-block {display:block;margin-right:auto;margin-left:auto;}

/* Display content */
.hide {display:none !important;}
.show {display:block !important;}
.affix {position:fixed !important;}
.sr-only {overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px;padding:0;clip:rect(0, 0, 0, 0);border:0;}
.accessibility_hide {display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px}

/* Margin section */
.mg-section-minus {margin-top:-1px !important;}
.mg-section-none {margin-top:0 !important;}
.mg-section-xs {margin-top:10px !important;}
.mg-section-sm {margin-top:20px !important;}
.mg-section-md {margin-top:30px !important;}
.mg-section-lg {margin-top:40px !important;}
.mg-section-xl {margin-top:50px !important;}

/* Font family */
.text-tahoma {font-family:tahoma;}

/* Text 굵기 */
.text-normal {font-weight:normal;}
.text-bold {font-weight:bold;}

/* Text 사이즈 */
.text-size-sm {font-size:11px;}
.text-size-md {font-size:12px;}
.text-size-lg {font-size:14px;}
.text-size-xl {font-size:16px;}

/* Text 정렬 */
.text-right {text-align:right !important;}
.text-center {text-align:center !important;}
.text-left {text-align:left !important;}
.text-nowrap {white-space:nowrap !important;}

/* Text 색상 */
.text-primary {color:#ce1710;}
a.text-primary:hover {color:#ce1710;}
.text-bluish {color:#198292;}
a.text-bluish:hover {color:#198292;}
.text-gray-dark {color:#333;}
a.text-gray-dark:hover {color:#333;}
.text-gray {color:#666;}
a.text-gray:hover {color:#666;}
.text-gray-light {color:#999;}
a.text-gray-light:hover {color:#999;}

/* Text etc */
.text-underline {text-decoration:underline;}
.text-underline-none {text-decoration:none !important;}
.spacing-sm {letter-spacing:-1px;}
.spacing-md {letter-spacing:0;}

/* Text 말줄임 */
.abbreviate {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

/* 백그라운드 색상 */
.bg-primary {background-color:#e51b13;}
.bg-gray-darker {background-color:#333;}
.bg-gray-dark {background-color:#6a747d;}
.bg-gray {background-color:#666;}
.bg-gray-light {background-color:#b4b9be;}
.bg-gray-lighter {background-color:#f3f3f3;}
.bg-gray-lightest {background-color:#f9f9f9;}
.bg-white {background-color:#fff;}

/* 스크롤 */
.box-scroll {overflow:auto;position:relative;}
.box-scroll-y,
.box-scroll-x {position:relative;border:1px solid #ccc;}
.box-scroll-y {overflow-x:hidden;overflow-y:auto;}
.box-scroll-x {overflow-x:auto;overflow-y:hidden;}
.box-scroll-y .scroll-inner,
.box-scroll-x .scroll-inner {padding:18px 20px;}

/* Footer */
#footer {overflow:hidden;width:100%;margin-top:80px;background-color:#f9f9f9}
#footer .policy {height:36px;border-top:1px solid #e0e0e0;background:#eee}
#footer .policy .site_menu {overflow:hidden;width:937px;margin:0 auto;}
#footer .policy .site_menu li {float:left;height:35px;background:url(//image.wemakeprice.com/images/resources/wmp/common/img_footer_menu_v1.png) no-repeat 0 0}
#footer .policy .site_menu li a {overflow:hidden;float:left;width:100%;height:100%;font-size:0;line-height:0;text-indent:-9999px}
#footer .policy .site_menu li.info {width:75px;padding-left:0;background-position:0 13px}
#footer .policy .site_menu li.blog {width:72px;padding-left:0;background-position:0px -178px;margin-left:153px;} /* 기업소개 */
#footer .policy .site_menu li.employ {width:105px;background-position:31px -207px;} /* 인재채용 */
#footer .policy .site_menu li.stipulation {width:105px;background-position:31px -27px} /* 이용약관 */
#footer .policy .site_menu li.private {width:145px;background-position:30px -67px} /* 개인정보처리방침 */
#footer .policy .site_menu li.private_youth {width:135px;background-position:31px -107px} /* 청소년보호정책 */
#footer .policy .site_menu li.coalition {width:105px;background-position:31px -147px} /* 제휴문의 */
#footer .policy .site_menu li.sevice {width:103px;background-position:32px -239px;} /* 고객서비스 */

#footer .footer_company {overflow:hidden;width:937px;margin:0 auto;padding:15px 0 0 0;}
#footer .footer_company .company_logo {overflow:hidden;float:left;margin:42px 52px 0 0;width:98px;height:56px;text-indent:-9999px;background:url(//image.wemakeprice.com/images/resources/wmp/common/logo-footer-v1.png) no-repeat 0 0;}
#footer .footer_company .company_logo a {display:block;width:100%;height:100%;}
#footer .footer_company .company_info {float:left;padding-top:3px;width:555px;font-size:11px;color:#666;padding-bottom:15px;}
#footer .footer_company .company_info a {color:#666;}
#footer .footer_company .company_info dt,
#footer .footer_company .company_info dd {display:inline;font-size:11px;color:#666;line-height:18px;white-space:nowrap;letter-spacing:-1px;}
#footer .footer_company .company_info dt {padding:0 0 0 13px;background:url(//image.wemakeprice.com/images/resources/wmp/common/img_footer_v12.png) no-repeat 6px -550px;}
#footer .footer_company .company_info dt.fst {clear:both;padding-left:0;background:none;}
#footer .footer_company .company_info address {display:inline;}
#footer .footer_company .operator {display:inline-block;width:87px;height:18px;margin:0 0 0 5px;color:#666;text-decoration:underline;letter-spacing:0;background:url(//image.wemakeprice.com/images/resources/wmp/common/img_footer_v12.png) no-repeat 83px -696px;}
#footer .footer_company .phone_number {overflow:hidden;width:100%;padding:10px 0 14px;}
#footer .footer_company .phone_number .num_client {float:left;position:relative;width:266px;height:45px;padding:0;background:url(//image.wemakeprice.com/images/resources/wmp/common/img_footer_v12.png) no-repeat -113px -860px;font-size:0;line-height:0;text-indent:-9999px;}
#footer .footer_company .phone_number .num_client .link_faq{position:absolute;top:-2px;right:21px;width:100px;height:19px;background:url(//image.wemakeprice.com/images/resources/wmp/common/img_footer_v12.png) no-repeat 0 -915px;font-size:0;line-height:0;text-indent:-9999px;}
#footer .footer_company .phone_number .num_coalition {overflow:hidden;float:left;width:204px;height:59px;padding:0;background:url(//image.wemakeprice.com/images/resources/wmp/common/img_footer_v12.png) no-repeat -379px -860px;font-size:0;line-height:0;text-indent:-9999px;}
#footer .footer_company .copyright {position:relative;width:249px;height:8px;font-size:0;text-indent:-9999px;background:url(//image.wemakeprice.com/images/resources/wmp/common/img_footer_v12.png) no-repeat 0 -762px;}
#footer .footer_company .copyright a {position:absolute;top:0;left:65px;display:block;width:84px;height:8px;background-color:transparent;}
#footer .footer_company .info {float:right;margin-top:6px;width:227px;height:128px;background-color:#eee;}
#footer .footer_company .info .link_notice {display:block;margin:5px 0 5px 10px;height:14px;width:169px;overflow:hidden;font-size:0;line-height:0;text-indent:-9999px;background:url(//image.wemakeprice.com/images/resources/wmp/common/img_footer_v12.png) no-repeat 0 -740px;}
#footer .footer_company .info .bank_notice {padding:0px 7px 0px 9px;border-top:1px solid #f9f9f9;font-size:11px;color:#7e8190;}
#footer .footer_company .info .bank_notice dt {font-weight:bold;padding-top:11px;line-height:22px;}
#footer .footer_company .info .bank_notice dd {line-height:13px;}
#footer .footer_company .info .link_security {display:block;margin-top:4px;width:113px;height:14px;overflow:hidden;text-decoration:underline;color:#7e8190;background:url(//image.wemakeprice.com/images/resources/wmp/common/img_footer_v12.png) no-repeat 109px -718px;}
#footer .footer_company .association {float:left;width:783px;height:43px;padding:16px 0 0 154px;border-top:1px solid #eee;}
#footer .footer_company .association a {float:left;display:block;overflow:hidden;font-size:0;text-indent:-9999px;background:url(//image.wemakeprice.com/images/resources/wmp/common/img_footer_v12.png) no-repeat;}
#footer .footer_company .association span {float:left;display:block;overflow:hidden;font-size:0;text-indent:-9999px;background:url(//image.wemakeprice.com/images/resources/wmp/common/img_footer_v12.png) no-repeat;}
#footer .footer_company .association .link1 {margin:0 30px 0 0;width:149px;height:27px;background-position:-378px -759px;} /* 한국지식재산보호협회 */
#footer .footer_company .association .link2 {width:178px;height:28px;background-position:0 -820px;}
#footer .footer_company .association .link3 {width:106px;height:31px;margin:0 0 0 30px;background-position:-380px -810px;}
#footer .footer_company .footer_brand {overflow:hidden;width:100%;padding:13px 0px;border-top:1px solid #eee;}
#footer .footer_company .footer_brand ul li {float:left;height:32px;}
#footer .footer_company .footer_brand ul li a {display:block;height:32px;background:url(//image.wemakeprice.com/images/2014/common/footer_brand.png) no-repeat;text-indent:-9999px;}
#footer .footer_company .footer_brand ul li.brand1 a {margin-left:22px;;width:101px;background-position:0 0}
#footer .footer_company .footer_brand ul li.brand2 a {margin-left:33px;;width:109px;background-position:0 -32px;}
#footer .footer_company .footer_brand ul li.brand3 a {margin-left:32px;;width:84px;background-position:0 -64px;}
#footer .footer_company .footer_brand ul li.brand4 a {margin-left:32px;;width:107px;background-position:0 -96px}
#footer .footer_company .footer_brand ul li.brand5 a {margin-left:32px;;width:101px;background-position:0 -128px}
#footer .footer_company .footer_brand ul li.brand6 a {margin-left:31px;;width:126px;background-position:0 -160px}
#footer .footer_company .footer_brand ul li.brand7 a {margin-left:24px;;width:83px;background-position:0 -192px;}





